<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="KindergartenDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\guppi\source\repos\Kindergarten\kindergarden.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Kindergarten.Properties.Settings.kindergardenConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\database\kindergarden.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True"
   providerName="System.Data.SqlClient" />
  <add name="Kindergarten.Properties.Settings.kindergardenConnectionString1"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\kindergarden.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>